body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.k8Card {
  /*max-width: 20rem;}*/
}

.k8Container {
  padding: 15px 15px;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.k8ContainerHeader {
  padding: 15px 15px;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.addbutton {
  float: right;
  cursor: pointer;
}

.k8buttons {
  float: right;
  display: none;
  cursor: pointer;
}

.k8Card:hover .k8buttons {
  display: block;
}

.k8ContainerTitleCard {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}
